
.image-item {
    width: 300px;
    height: auto;
}

body {
    font-family: sans-serif;
    background-color: azure;
    text-align: center;
    background-image: url('/Images/comp.jpg');
}


nav {
    text-align: center;
    background-color: lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    height: 66px;
}

a {
    text-decoration: none;
    margin-left: 20px;
    color: darkblue;
    font-size: 18px;
    font-family: sans-serif;
}

.card {
    width: 400px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    float: left;
    background-color: skyblue;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card img {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

.card-content {
    padding: 20px;
}

.rep {
    width: 538px;
    margin-left: 50px;
}
.one {
    width: 300px;
    border-radius: 50%;
    margin-left: 100px; 
  }
  









