
.image-item {
    width: 300px;
    height: auto;
}

body {
    font-family: sans-serif;
    background-color: azure;
    text-align: center;
}


/* .slider-wrapper .image-list {
display: grid;
gap: 18px;
font-size: 0;
overflow-x:auto ;
scrollbar-width: none;
grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper .image-list .image-item {
    width: 100px;
    height: 100px;
    object-fit: cover;
} */



/* .container {
    max-width: 1200px;
    width: 95%;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
} */



/* .img {
width: 100px;
border-radius: 50px;
} */


nav {
    text-align: center;
    background-color: lightskyblue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    height: 66px;
}
a {
    text-decoration: none;
    margin-left: 20px;
    color: darkblue;
    font-size: 18px;
    font-family: sans-serif;
}

.card {
    width: 400px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    float: left;
    background-color: skyblue;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card img {
    width: 100px;
    height: auto;
    border-radius: 50px;
}

.card-content {
    padding: 20px;
}

/* span {
    margin-left: 50px;
    padding-top: 100px;
    font-size: larger;
    text-align: center;
    justify-content: center;
} */

.rep {
    width: 538px;
    margin-left: 50px;
}
.one {
    width: 300px;
    border-radius: 50%;
    margin-left: 100px; 
  }
  
  /* p {
    text-align: center;
  } */










