/* body {
    margin: 0;
    padding: 0;
} */

  a {
    text-decoration: none;
    color: darkblue;
    font-size: 18px;
    margin: 0 15px;
    position: relative;
  }

  .card-content {
    padding: 20px;
}

  .card4 {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    float: left;
    background-color: blanchedalmond;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}


.card5 {
  width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 200px;
  /* float: right; */
  background-color: blanchedalmond;
  padding: 1rem;
  margin-top: 20px;
  height: 15rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  padding-right: 10px;
}


