.pot {
    background-color: #bd0f0f;
    border: none;
    height: 25px;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
    margin-top: 10px;
    color: aliceblue;
}
.deluxe {
    margin-left: 200px;
    box-shadow: 2px 8px 8px;
    border-radius: 8px;
    padding: 20px;
    width: 700px;
    text-align: center;
    background-color: skyblue;
    font-family: sans-serif;
}
a {
    margin-right: 30px;
    text-decoration: none;
    color: darkblue;
    font-size: 18px;
    font-family: sans-serif;
}

nav {
    text-align: center;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    height: 66px;
}

 
input {
    display: flex;
}

.team {
    font-family: sans-serif;
    margin-right: 50px;
   background-color: whitesmoke;
}

body {
    background-image: url('/Images/hand.jpg');
}

.team {
    border-radius: 10px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    margin-top: 10px;
}

h1,p{
    text-align: center;
}